<div id="header">
  <v-app-bar class="header px-1" :clipped-left="$vuetify.breakpoint.lgAndUp" app color="primary" dark>
    <v-app-bar-nav-icon @click.stop="toggleSidebar()"></v-app-bar-nav-icon>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
      <span class="hidden-sm-and-down">
        Abwesenheitsmanager
      </span>
    </v-toolbar-title>
    
    <v-tabs class="fill-height" v-model="foo" dark>
      <v-tabs-slider></v-tabs-slider>
      <v-tab>
        Home
        <v-icon class="ml-2">
          mdi-home
        </v-icon>
      </v-tab>
      <v-tab>
        {{ !!$store.getters['logic/selectedStudent'] ? $store.getters['logic/selectedStudent'].name : 'Überblick' }}
        <v-icon class="ml-2">
          mdi-account-box
        </v-icon>
      </v-tab>
      <v-tab>
        Kalendar
        <v-icon class="ml-2">
          mdi-calendar
        </v-icon>
      </v-tab>
      <v-tab>
        Hilfe
        <v-icon class="ml-2">
          mdi-help-circle
        </v-icon>
      </v-tab>
    </v-tabs>

    <v-spacer></v-spacer>
    <v-btn icon @click="toggleFullscreen()">
      <v-icon>mdi-fullscreen{{ fullscreen ? '-exit' : '' }}</v-icon>
    </v-btn>
    <v-btn icon @click="$vuetify.theme.dark = !$vuetify.theme.dark">
      <v-icon>mdi-invert-colors</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>settings</v-icon>
    </v-btn>
  </v-app-bar>
</div>
