<div id="sidebar">
  <v-navigation-drawer v-model="sidebar" :clipped="$vuetify.breakpoint.lgAndUp" app>
    <v-list dense>
      <v-list-group :ripple="false" v-for="(schoolClass, i) in classes" :key="i">
        <template v-slot:activator>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn text fab small class="mr-2 my-2" v-on="on" color="primary" @click.stop="{}">
                <v-icon>
                  settings
                </v-icon>
              </v-btn>
            </template>
            <span>Klasse verwalten</span>
          </v-tooltip>
          <v-list-item-content @click="selectClass(i)">
          <!-- <v-list-item-content @click="selectedStudent = -1"> -->
            <v-list-item-title>
              {{ schoolClass.name }}
            </v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item class="pl-8" v-for="(student, j) in schoolClass.students" :key="j" :class="{ 'v-list-item--active': selectedStudent === j }" @click="selectStudent(student, j)">
          <v-list-item-content>
            <v-list-item-title> {{ student.name }} </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</div>
